################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/New Project/KWIJisho/KWIJisho/config.json
